:root {
  --primary: #354A9B;
  --secondary: #354A9B;
  --light: #fff;
}

body {
  background: black;
  min-height: 100vh;
}

nav {
  width: 100%;
  height: 72px;
  padding: 1rem;
  margin-bottom: 1rem;
} 

nav a {
  font-size: 48px;
  color: white;
  font-weight: 400;
  display: block;
  margin: auto;
  width: fit-content;
}

nav a:hover {
  color: white;
}

nav a img {
  height: 52px;
  width: 52px;
}

.content {
  margin: auto;
  padding: 16px;
  max-width: 50%;
  height: 90vh;
}

footer p {
  color: white;
  text-align: center;
}

@media (max-width: 968px) {
  .content {
    max-width: 90%;
  }
}

@media (max-width: 380px) {
  .content {
    max-width: 100%;
  }
}