---
import Hero from '../components/Home/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Services from "../components/Home/Services.astro";
import Programs from "../components/Home/Programs.astro";
import Consultation from "../components/Home/Consultation.astro";
import Apply from "../components/Home/Apply.astro";
import Facts from '../components/Home/Facts.astro';
import Contact from '../components/Home/Contact.astro';

---

<Layout title="The Best Place To Learn Digital Skills in Lagos">
	<Hero />

	<Services />
	
	<Programs />

	<Consultation />

	<Apply />

	<!-- <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Our Popular Courses</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="https://images.pexels.com/photos/14553709/pexels-photo-14553709.jpeg?auto=compress&cs=tinysrgb&w=270&h=170&dpr=1" alt="HTML">
              <div class="down-content">
                <h4>HTML for beginers</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦45k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://images.pexels.com/photos/14553706/pexels-photo-14553706.jpeg?auto=compress&cs=tinysrgb&w=270&h=170&dpr=1" alt="Course Two">
              <div class="down-content">
                <h4>CSS for beginners</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦75k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://images.pexels.com/photos/6424583/pexels-photo-6424583.jpeg?auto=compress&cs=tinysrgb&w=270&h=170&dpr=1" alt="">
              <div class="down-content">
                <h4>Full JavaScript course</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦90k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://images.pexels.com/photos/6424583/pexels-photo-6424583.jpeg?auto=compress&cs=tinysrgb&w=270&h=170&dpr=1" alt="">
              <div class="down-content">
                <h4>PHP for beginners</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦120k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://images.unsplash.com/photo-1662026911591-335639b11db6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=862&q=80" alt="">
              <div class="down-content">
                <h4>Mastering SQL</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦50k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://images.pexels.com/photos/6155010/pexels-photo-6155010.jpeg?auto=compress&cs=tinysrgb&w=270&h=170&dpr=1" alt="">
              <div class="down-content">
                <h4>Mastering Photoshop</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦270k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://images.pexels.com/photos/374563/pexels-photo-374563.jpeg?auto=compress&cs=tinysrgb&w=270&h=170&dpr=1" alt="">
              <div class="down-content">
                <h4>Python for beginners</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦300k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&w=270&h=170&dpr=1" alt="">
              <div class="down-content">
                <h4>Machine Learning</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦1500k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://img-c.udemycdn.com/course/240x135/1197206_7201_4.jpg" alt="">
              <div class="down-content">
                <h4>Mastering Illustrator</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>₦400k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="https://images.pexels.com/photos/5054208/pexels-photo-5054208.jpeg?auto=compress&cs=tinysrgb&w=270&h=170&dpr=1" alt="">
              <div class="down-content">
                <h4>Mastering Premier Pro</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
           
  
                      <span>₦480k</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <Facts />

  <Contact />
</Layout>
