---

---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no, shrink-to-fit=no">
    <!-- <meta name="description" content=""> -->
    <meta name="author" content="joshytheprogrammer">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title>WG Digital Academy Mailing List</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/join.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="stylesheet" href="/assets/css/lightbox.css">

    <!-- Google tag (gtag.js) -->
    <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-D2LD8SLQWT"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-D2LD8SLQWT');
    </script>
    <!-- Meta Pixel Code -->
    <script is:inline>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1024252396025982');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1024252396025982&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->
  </head>

  <body>
    <nav >
      <a href="/" class="logo">
        <img src="assets/images/logo_2.png" alt="Logo Image">
        Academy 
      </a>
    </nav>
    <div class="register-form">
      <iframe src="https://mailchi.mp/6002311d8125/digital-marketing-and-recruitment-masterclass" width="100%" height="100%"></iframe>
    </div>

    <!-- ***** Main Banner Area End ***** -->
  </body>

  <footer>
    <p class="">
      Copyright © 
      <script is:inline>
        document.write(new Date().getFullYear());
      </script> 
      Walls and Gates, Ltd. All Rights Reserved. 
      <br>
      <p style="display: none;">Design: <a href="https://joshytheprogrammer.com" target="_parent" title="This website was desgined and built by joshytheprogrammer">joshytheprogrammer</a></p>
      <br>
    </p>
  </footer>
</html>