<section class="consultation" id="consultation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 px-3 position-relative text-black-50 mb-3 text-center">
        <p class="mt-4 pe-0">Not sure of what to learn or how to get started?</p>
        <h2 class="display-6 position-relative fc">Book a Free Consultation at W&G Academy</h2>
        <p class="mt-4 mb-2 pe-0">Consultations made easy for you.</p>
        <div class="btn-links">
          <a class="btn" href="https://wa.me/2349068829026?text=Hello%20WG%20Academy%2C%20I%20would%20like%20to%20book%20a%20physical%20consultation">Physical consultation</a>
          <a class="btn" href="#contact">Online consultation</a>
        </div>
      </div>
    </div>
  </div>
</section>
