<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
  <video autoplay muted loop id="bg-video">
    <source src="https://res.cloudinary.com/dsgvwxygr/video/upload/v1677576809/wandgacademy/black_students_tvolcu.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="caption">
        <h6>Hello Students,</h6>
        <h2>Welcome to W&G Academy</h2>
        <p>Embrace the future of IT skills with W & G Academy. As the demand for IT professionals skyrockets, W & G Academy as an IT training centre in Lagos, Nigeria is at the forefront of this digital revolution. Whether you're stepping into the IT as a career or aiming to enhance your skills, W & G Academy provides a diverse range of courses in data analytics, software programming, web design, development, digital marketing, entrepreneurship and graphics design. Our offerings cater to both beginners and advanced learners. Join us online or offline — your learning journey, your way.</p>
        <div class="main-button-red">
            <div class="scroll-to-section"><a href="https://academy.wandggroup.com/lms/login/" target="_blank"> Join Us Now!</a></div>
        </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->