<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
  <!-- <video autoplay muted loop id="bg-video">
    <source src="https://res.cloudinary.com/dsgvwxygr/video/upload/v1677576809/wandgacademy/black_students_tvolcu.mp4" type="video/mp4" />
  </video> -->
  <!-- <img src="" alt="" id="bg-video"> -->
  <div id="bg-video"></div>


  <div class="video-overlay header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 content">
          <div class="caption">
            <h2>Welcome to W&G Academy</h2>
            <p>Embrace the future of IT skills with W & G Academy. As the demand for IT professionals skyrockets, W & G Academy as an IT training centre in Lagos, Nigeria is at the forefront of this digital revolution. Whether you're stepping into the IT as a career or aiming to enhance your skills, W & G Academy provides a diverse range of courses in data analytics, software programming, web design, development, digital marketing, entrepreneurship and graphics design. Our offerings cater to both beginners and advanced learners. Join us online or offline — your learning journey, your way.</p>
          </div>
          <!-- <div class="f-img">
            <img src="https://res.cloudinary.com/dsgvwxygr/image/upload/v1723042370/wandgacademy/yjggdyxyqktkpvxz1fb3.png" alt="An Image of the founder">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>