---
// In your .astro file
const currentPath = Astro.url.pathname;
---
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <img src="/assets/images/logo_2.png" alt="Logo Image">
            Academy 
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="/#top" class={currentPath === '/' ? 'active' : ''}>Home</a>
            </li>
            <li>
              <a href="/#meetings" class={currentPath.includes('/programs') ? 'active' : ''}>Programs</a>
            </li>
            <li>
              <a href="/posts" class={currentPath.includes('/posts') ? 'active' : ''}>Blog</a>
            </li>
            <li class="scroll-to-section">
              <a href="/#consultation" class={currentPath === '/#consultation' ? 'active' : ''}>Consultation</a>
            </li>
            <!-- <li class="has-sub">
                <a href="javascript:void(0)">Pages</a>
                <ul class="sub-menu">
                    <li><a href="meetings.html">Upcoming Programs</a></li>
                    <li><a href="meeting-details.html">Meeting Details</a></li>
                </ul>
            </li> -->
            <!-- <li class="scroll-to-section"><a href="#courses">Courses</a></li>  -->
            <li class="scroll-to-section"><a href="/#contact">Contact Us</a></li> 
          </ul>        
          <a class='menu-trigger'>
              <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
<script is:inline >
  //according to loftblog tut
  $('.nav li:first').addClass('active');

  var showSection = function showSection(section, isAnimate) {
    var
    direction = section.replace(/#/, ''),
    reqSection = $('.section').filter('[data-section="' + direction + '"]'),
    reqSectionPos = reqSection.offset().top - 0;

    if (isAnimate) {
      $('body, html').animate({
        scrollTop: reqSectionPos },
      800);
    } else {
      $('body, html').scrollTop(reqSectionPos);
    }

  };

  var checkSection = function checkSection() {
    $('.section').each(function () {
      var
      $this = $(this),
      topEdge = $this.offset().top - 80,
      bottomEdge = topEdge + $this.height(),
      wScroll = $(window).scrollTop();
      if (topEdge < wScroll && bottomEdge > wScroll) {
        var
        currentId = $this.data('section'),
        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
        reqLink.closest('li').addClass('active').
        siblings().removeClass('active');
      }
    });
  };

  $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
    e.prDefault();
    showSection($(this).attr('href'), true);
  });

  $(window).scroll(function () {
    checkSection();
  });
</script>