---
import { loadQuery } from "../../sanity/lib/load-query";

const { params } = Astro;

// Fetch all posts with categories set to programs
const { data: posts } = await loadQuery({
  query: `*[_type == "post" && references('5fcdc54d-b888-4c15-b1c6-5c09262b1b19')]{ _id, "thumbnail":mainImage.asset->url, title, description, "slug": slug.current}`,
  params,
});

---

<section class="upcoming-meetings" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Programs we offer</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          {posts.map(post => (
            <div class="col-lg-4" >
              <div class="meeting-item">
                <div class="thumb">
                  <a href={'/programs/'+post.slug}><img src={post.thumbnail} alt="Introduction to Digital Marketing"></a>
                </div>
                <div class="down-content">
                  <a href={'/programs/'+post.slug}><h4>{post.title}</h4></a>
                  <p>{post.description}</p>
                </div>
              </div>
            </div>
            
          ))}
        </div>
      </div>
      
    </div>
  </div>
</section>