<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel">
        
          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-01.png" alt="">
            </div>
            <div class="down-content">
              <h4>Qualified Instructors</h4>
              <p>Teachers skilled in the ability to teach students how to learn.</p>
            </div>
          </div>
          
          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-02.png" alt="">
            </div>
            <div class="down-content">
              <h4>Serene Environment</h4>
              <p>We provide a comfortable environment that promotes learning and growth.</p>
            </div>
          </div>

          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-02.png" alt="">
            </div>
            <div class="down-content">
              <h4>Fully Online Classes</h4>
              <p>We offer fully online classes using our efficient and effective LMS.</p>
            </div>
          </div>
          
          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-03.png" alt="">
            </div>
            <div class="down-content">
              <h4>Hybrid Classes</h4>
              <p>We provide a flexible learning experience with both online and offline.</p>
            </div>
          </div>
          
          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-02.png" alt="">
            </div>
            <div class="down-content">
              <h4>Personalized Training</h4>
              <p>Join us for a personalized learning journey that meets your needs and goals.</p>
            </div>
          </div>
          
          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-03.png" alt="">
            </div>
            <div class="down-content">
              <h4>Bespoke Courses</h4>
              <p>Enjoy an immersive learning experience that will help you stay ahead of the curve.</p>
            </div>
          </div>

          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-03.png" alt="">
            </div>
            <div class="down-content">
              <h4>Affordable Tuition</h4>
              <p>Join us for a transformative learning experience that won't break the bank.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
